[Unit]
Description=Add wheel members to docker group

[Service]
Type=oneshot
ExecStart=/usr/libexec/custom-setup
Restart=on-failure
RestartSec=30
StartLimitInterval=0

[Install]
WantedBy=default.target
